/bitrix/activities
/bitrix/admin
/bitrix/blocks
/bitrix/cache
/bitrix/catalog_export
/bitrix/components
/bitrix/css
/bitrix/fonts
/bitrix/gadgets
/bitrix/images
/bitrix/js
/bitrix/legal
/bitrix/managed_cache
/bitrix/mobileapp
/bitrix/modules
/bitrix/otp
/bitrix/panel
/bitrix/php_interface
/bitrix/services
/bitrix/sounds
/bitrix/stack_cache
/bitrix/themes
/bitrix/tmp
/bitrix/tools
/bitrix/updates
/bitrix/webdav
/bitrix/wizards

/bitrix/templates/bitrix24
/bitrix/templates/call_app
/bitrix/templates/desktop_app
/bitrix/templates/landing24
/bitrix/templates/learning
/bitrix/templates/mail_user
/bitrix/templates/mobile_app
/bitrix/templates/pub

/ai
/apconnect
/auth
/automation
/bizproc
/calendar
/company
/conference
/configs
/crm
/departments
/desktop_app
/devops
/docs
/images
/include
/kb
/knowledge
/mail
/marketing
/marketplace
/mobile
/oauth
/onec
/page
/pub
/report
/rpa
/saleshub
/search
/services
/shop
/sitemap
/sites
/stream
/tasks
/telephony
/timeman
/upload
/workgroups