html {
  scroll-behavior: smooth;
}

body {
    background-color: #f5f5f5;
    /* font-family: Arial, Helvetica, sans-serif;
    font-family: 'Roboto', sans-serif; */
    font-family: 'helioscondregular', sans-serif;
    font-size: 17px;
}

.breadcrumb {
	background: #ebf8ff;
    padding: 5px 15px;
    color: #007bc1;
}

.title-head {
    margin-top: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 1;
    color: #000;
    font-weight: 400;
}
.title-head-blue {
    color: #007bc1;
}

.title-head-lh {
    line-height: 1.5;
}

.mt-0 {
    margin-top: 0;
}

.btn-standard {
    background-color: #007bc1;
    color: #fff;
    padding: 10px 25px;
    transition: .3s ease;
    border-radius: 50px;
}
.btn-standard:hover,
.btn-standard:focus {
    box-shadow: 0px 0px 0px 5px rgb(0 123 193 / 15%);
}

main {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -100px;
    position: relative;
    z-index: 10;
    justify-content: space-between;
    align-items: flex-start;
}
@media (min-width: 1200px) {
    main {
        max-width: calc(100% - 90px);
    }
}
@media (min-width: 1500px) {
    main {
        max-width: 1400px;
    }
}

header {
    height: 280px;
    position: relative;
    background-position: 50% 69%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/bitrix/templates/gtu/img/4.jpg');
    z-index: 1;
}
header:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background: -webkit-linear-gradient(315deg,#083e67,#00548a);
    background: -moz-linear-gradient(315deg,#083e67 0,#00548a 100%);
    background: -o-linear-gradient(315deg,#083e67 0,#00548a 100%);
    background: linear-gradient(135deg,#083e67,#00548a);
}
.header-inner {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
    position: relative;
    padding-top: 45px;
}
@media (min-width: 1200px) {
    .header-inner {
        max-width: calc(100% - 90px);
    }
}
@media (min-width: 1500px) {
    .header-inner {
        max-width: 1400px;
    }
}
.header-logo {
    width: 40%;
}
.header-logo a {
    display: block;
    width: 150px;
    background-color: #fff;
    padding: 8px 12px;
    border-radius: 8px;
}
.header-logo a img {
    width: 100%;
}
.header-date {
    width: 20%;
    color: #fff;
    text-align: center;
    font-size: 15px;
}
.header-date strong {
    font-size: 40px;
    font-weight: 400;
    display: block;
}
.header-weather {
    width: 20%;
    text-align: center;
}
.header-weather a {
    font-size: 22px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 123, 193, 0.65);
    border-radius: 50px;
    padding: 6px 24px;
}
.header-weather a svg {
    color: #ffd952;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.header-account {
    width: 20%;
    text-align: right;
}
.header-account a {
    color: #fff;
    font-weight: 400;
    background-color: #007bc1;
    padding: 12px 24px;
    font-size: 17px;
    border-radius: 50px;
}

.sidebar {
    width: 22%;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
}
.sidebar-header {
    color: #007bc1;
    text-transform: uppercase;
    font-weight: 700;
    padding: 25px 25px 0 25px;
}
.sidebar-block {
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 12px;
    /* box-shadow: 0 0 30px rgb(0 59 92 / 5%); */
    overflow: hidden;
}
.sidebar-block-special a {
    padding: 15px 25px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 123, 193, 0.2);
    border-radius: 12px;
    cursor: pointer;
    user-select: none;
	color: #000;
}
.sidebar-block-special a:hover,
.sidebar-block-special a:focus {
    text-decoration: none;
    color: #007bc1;
}
.sidebar-block-special a svg {
    min-width: 40px;
    width: 40px;
    height: 40px;
    background-color: #007bc1;
    color: #fff;
    margin-right: 20px;
    padding: 8px;
    border-radius: 12px;
}
.sidebar-block-gazeta {
    padding: 7px;
    background-color: #007bc1;
    color: #fff;
    text-align: center;
}
.sidebar-block-gazeta img {
    margin-bottom: 10px;
    border-radius: 5px;
}
.sidebar-block img {
    width: 100%;
    display: block;
}
.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 25px;
    background-color: rgba(0, 123, 193, 0.05);
    display: none;
    margin-top: 20px;
    border-radius: 12px;
}
.sidebar .sidebar-block-special.active ul {
    display: block !important;
}
.sidebar .sidebar-block-special.active a {
    background-color: rgba(0, 123, 193, 0.05);
}
.sidebar .sidebar-block-special.active ul li a {
    background-color: transparent;
}
.sidebar ul:nth-of-type(3) {
    margin-top: 15px;
}
.sidebar ul ul {
    border: 0;
    padding: 25px 20px 0 20px;
}
.sidebar ul li {
    margin-bottom: 20px;
}
.sidebar ul li:last-child {
    margin-bottom: 0;
}
.sidebar ul li a {
    color: #000;
    display: block;
    position: relative;
    line-height: 1.35;
    border: none;
    padding: 0;
    padding-left: 20px;
}
.sidebar ul li a:before {
    content: '';
    width: 8px;
    height: 8px;
    border: 1.5px solid #007bc1;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.sidebar ul .li-plus:before {
    border: none;
    width: 1.5px;
    height: 8px;
    background-color: #007bc1;
    left: 3.5px;
}
.sidebar ul .li-plus:after {
    content: '';
    width: 8px;
    height: 1.5px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: #007bc1;
}
.sidebar ul li a:hover:before,
.sidebar ul li a:focus:before {
    background-color: #007bc1;
}
.sidebar ul li a:hover,
.sidebar ul li a:focus {
    color: #007bc1;
    cursor: pointer;
}

.content {
    width: calc(78% - 30px);
    padding: 35px 40px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 30px rgb(0 59 92 / 5%);
}
.content p {
    font-size: 17px;
    line-height: 1.75;
}
.content p {
    margin-bottom: 30px;
}
.content img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 800px;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.content ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 30px;
}
.content ul li {
	padding-left: 30px;
	position: relative;
	margin-bottom: 10px;
}
.content ul li:before {
	content: "— ";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.content ul li:last-child {
	margin-bottom: 0;
}

.index-news {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 65px;
}
.index-news p {
    line-height: 1.45;
    margin-bottom: 20px;
}
.index-news-item-big {
    width: 100%;
}
.index-news-item-big a {
    display: block;
    position: relative;
    color: #fff;
    height: 420px;
    overflow: hidden;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    border-radius: 12px;
}
.index-news-item-big-image {
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: .3s ease;
}
.index-news-item-big-image:before {
    content: '';
    /* background: rgba(0,45,74,.5)!important; */
    background-image: linear-gradient(-180deg, 
                    rgba(0, 123, 193, 0.1) 0%, 
                    rgba(0, 123, 193, 0.15) 40%, 
                    rgba(0, 123, 193, 0.55) 50%, 
                    rgba(0, 123, 193, 0.95) 70%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.index-news-item-big a:hover .index-news-item-big-image,
.index-news-item-big a:focus .index-news-item-big-image {
    transform: scale(1.05);
}
.index-news-item-big p {
    position: absolute;
    bottom: 20px;
    left: 40px;
    font-size: 20px;
    z-index: 2;
    font-size: 26px;
    right: 40px;
    text-align: center;
}
.index-news-item-big span {
    position: absolute;
    bottom: 135px;
    left: 25px;
    font-size: 18px;
    z-index: 2;
    color: #eee;
    right: 25px;
    text-align: center;
}
.index-news-items-small {
    width: 100%;
    /* padding-left: 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.index-news-item {
    height: 120px;
    border-bottom: 1px solid #e2e2e2;
    padding: 15px 0px;
    width: calc(50% - 10px);
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 70px;
}
.index-news-item:nth-of-type(3) {
    border-bottom: 1px solid #e2e2e2;
}
.index-news-item span {
    color: rgba(31,31,31,.4);
    font-size: 14px;
    display: block;
    margin-bottom: 8px;
    position: absolute;
    left: 0;
    width: 45px;
    height: 45px;
    background-color: rgba(0,123,193,.15);
    border-radius: 10px;
    color: #007bc1;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
.index-news-item span i {
    font-size: 30px;
    font-style: normal;
}
.index-news-item p {
    padding: 0;
    margin: 0;
	color: #000;
}
.index-news-item a:hover p,
.inder-news-item a:focus p {
    color: #007bc1;
}
.index-news-more-button {
    text-align: right;
    width: 100%;
    margin-top: 20px;
}
.index-news-more-button a {
    color: #007bc1;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid;
    padding-bottom: 1px;
}

.index-banners-item {
    width: calc(33.3333% - 20px);
    height: 200px;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
}

.news .news-list-item {
    margin-bottom: 40px;
}
.news .news-list-item a {
    display: flex;
    align-items: center;
    background-color: rgba(0,123,193,.05);
    padding: 25px;
    border-radius: 10px;
}
.news .news-list-item-desc span {
    background-color: rgba(0,123,193,.15);
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 50px;
}
.news .news-list-item-desc {
    padding-left: 30px;
}
.news .news-list-item-desc p {
    margin-bottom: 0;
    margin-top: 0;
    color: #777;
}
.news .news-list-item-desc .title-head {
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 26px;
}
.news .news-list-item-image {
    width: 25%;
    height: 200px;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    position: relative;
}
.news .news-list-item-desc {
    width: 75%;
}

.videos .video-list-item {
    margin-bottom: 40px;
}
.videos .video-list-item a {
    background-color: rgba(0,123,193,.05);
    padding: 25px;
    border-radius: 10px;
    display: block;
}
.videos .video-list-item span {
    font-size: 14px;
    display: block;
    margin-bottom: 15px;
}
.videos .title-head {
    margin-top: 0;
    font-size: 26px;
    margin-bottom: 0;
    line-height: 1.35;
}
.videos .video-list-item-image {
    height: 220px;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    position: relative;
    margin-bottom: 25px;
    position: relative;
}
.videos .video-list-item-image svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background-color: #fff;
    color: #007bc1;
    border: 2px solid #007bc1;
    border-radius: 100%;
    display: block;
    z-index: 1;
    box-shadow: 0 0 20px rgba(255,255,255,1);

}


.gazeta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gazeta .gazeta-list-item {
    margin-bottom: 40px;
    width: calc(33.3333% - 25px);
}
.gazeta .gazeta-list-item a {
    background-color: rgba(0,123,193,.05);
    padding: 15px;
    border-radius: 10px;
    display: block;
}
.gazeta .gazeta-list-item-desc span {
    font-size: 14px;
    display: block;
    line-height: 1;
    color: #777;
}
.gazeta .gazeta-list-item-desc {
    padding-top: 15px;
    text-align: center;
}
.gazeta .gazeta-list-item-desc p {
    margin-bottom: 0;
    margin-top: 0;
    color: #777;
}
.gazeta .gazeta-list-item-desc .title-head {
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 20px;
}
.gazeta .gazeta-list-item-image {
    height: 400px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    position: relative;
}



.pager {
    display: flex;
    justify-content: center;
    width: 100%;
}
.pager a {
    background-color: #007bc1;
    color: #fff;
    padding: 8px 18px;
    border-radius: 50px;
    margin: 0 10px;
}
.pager a svg {
    width: 30px;
    height: 30px;
    color: #fff;
}

.index-galleries {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.index-galleries p {
    line-height: 1.45;
    margin-bottom: 20px;
}
.index-galleries-item {
    width: calc(50% - 15px);
    border-bottom: 1px solid #e2e2e2;
}
.index-galleries-item a {
    display: flex;
    margin-bottom: 20px;
}
.index-galleries-item a:hover,
.index-galleries-item a:focus {
    color: #007bc1;
}
.index-galleries-item a p {
    width: calc(100% - 50px);
    margin: 0;
    padding-left: 20px;
}
.index-galleries-item a p small {
    display: block;
    font-size: 14px;
    color: rgba(31,31,31,.4);
    margin-bottom: 10px;
}
.index-galleries-item-image {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.index-galleries-more-button {
    text-align: right;
    width: 100%;
    margin-top: 0px;
}
.index-galleries-more-button a {
    color: #007bc1;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid;
    padding-bottom: 1px;
}


.index-poll {
    border: 1px solid #e2e2e2;
    position: relative;
    padding: 25px;
    margin-bottom: 75px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 1px solid #e2e2e2;
    border-radius: 12px;
}
.index-poll:before {
    content: '?';
    font-size: 200px;
    font-weight: 700;
    line-height: 1;
    color: #007bc1;
    position: absolute;
    bottom: -45px;
    right: -25px;
    opacity: 0.1;
}
.index-poll p {
    font-size: 24px;
    line-height: 1.3;
    margin: 0;
    width: 55%;
}
.index-poll p strong {
    font-size: 30px;
    display: block;
    color: #007bc1;
    font-weight: 400;
}
.index-poll-button {
    width: 45%;
    display: flex;
    justify-content: center;
}

footer {
    text-align: center;
    padding: 45px 0;
}

.filialy {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.filialy-map {
    position: relative;
    width: 55%;
}
.filialy-map img {
    width: 100%;
}
.filial-map-item {
    position: absolute;
    background-color: rgba(255,255,255,0.9);
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    color: #007bc1;
    background-color: #ffd952;
	cursor: pointer;
	transition: all 0.5s ease;
}
.filial-map-item:hover,
.filial-map-item:focus {
	transform: scale(1.25);
}
.filial-map-item-big {
    width: 30px;
    height: 30px;
}
.filialy-list {
    width: 45%;
    padding-left: 35px;
}
.filialy-list p {
    color: #007bc1;
    margin-top: 0px;
    margin-bottom: 20px;
	border-radius: 4px;
}
.filialy-list p a {
    border-bottom: 1px solid rgba(0,123,193,.3);
    padding-bottom: 2px;
	line-height: 1;
	display: inline-block;
	color: #007bc1;
	cursor: pointer;
}
.filialy-list p.selected a {
	background: #007bc1;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
}
.filialy-list p a:hover,
.filialy-list p a:focus {
	text-decoration: none;
	border-color: #000;
	color: #000;
}
.filialy-list p.selected a:hover,
.filialy-list p.selected a:focus {
	color: #000;
}
.filialy-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 15px;
}
.filialy-list ul li {
    margin-bottom: 10px;
    padding-left: 25px;
    position: relative;
    color: #777;
}
.filialy-list ul li:before {
    content: '—';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.filialy-list ul li a {
	color: #007bc1;
}
.filialy-list ul li a:hover,
.filialy-list ul li a:focus {
	text-decoration: none;
	color: #000;
}

/* CAROUSEL */
.page-sliders {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 550px;
    position: relative;
    background-color: rgba(0,123,193,.15);
    border-radius: 12px;
    overflow: hidden;
}
.page-sliders-nav {
    width: 120px;
    height: 100%;
    position: relative;
    background-color: #007bc1;
}
.page-sliders-main {
    width: calc(100% - 120px);
    height: 100%;
    position: relative;
}
.carousel-cell {
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-main {
    height: 100%;
    position: relative;
}
.carousel-main span {
	position: absolute;
    bottom: 20px;
    background-color: rgba(255,255,255,0.85);
    padding: 5px 15px;
    left: 20px;
    font-style: italic;
    border-radius: 5px;
}
.carousel-main a {
	color: #000;
}
.carousel-main .carousel-cell {
    width: 100%;
    height: 100%;
}
.carousel-main .carousel-cell img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: 100%;
}
.carousel-main .flickity-prev-next-button {
    width: 40px;
    height: 40px;
    background: #007bc1;
    color: #fff;
}
.carousel-main .flickity-prev-next-button.previous {
    left: 35px;
}
.carousel-main .flickity-prev-next-button.next {
    right: 35px;
}
.carousel-nav {
    width: 550px;
    height: 110px;
    transform: rotate(90deg) translate(0, -100%);
    transform-origin: left top;
    position: relative;
	padding: 0 50px;
}
.carousel-nav .carousel-cell {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 5px;
}
.carousel-nav .carousel-cell .carousel-cell-inner {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}
/* .carousel-nav .carousel-cell.is-nav-selected {
    background: #ED2;
} */
.carousel-nav .flickity-prev-next-button {
    width: 40px;
    height: 40px;
    background: transparent;
    top: 45%;
    color: #fff;
}
.carousel-nav .flickity-prev-next-button.previous {
    left: 15px;
}
.carousel-nav .flickity-prev-next-button.next {
    right: 15px;
}
/* CAROUSEL */

.content ul.oglav {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 60px;
    margin-bottom: 60px;
    /* background-color: rgba(0, 123, 193, 0.05);
    padding: 25px;
    border-radius: 12px; */
}
.content ul.oglav li {
    margin-bottom: 20px;
    position: relative;
}
.content ul.oglav-inline li {
	margin-right: 20px;
	margin-bottom: 0;
	display: inline-block;
	vertical-align: middle;
	padding-left: 0;
}
.content ul.oglav li:before {
    content: '—';
    margin-right: 10px;
}
.content ul.oglav-inline li:before {
	content: '';
	margin: 0;
}
.content ul.oglav li a {
    color: #007bc1;
    display: inline-block;
    border-bottom: 1px solid rgba(0,123,193,.3);
    padding-bottom: 2px;
    line-height: 1;
}
.content ul.oglav li a:hover,
.content ul.oglav li a:focus {
	text-decoration: none;
}

.prbez-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.prbez-item {
    width: calc(50% - 15px);
    margin-bottom: 25px;
    
}
.prbez-item a {
    display: flex;
    align-items: center;
    height: 105px;
    border: 1px solid rgb(0 123 193 / 25%);
    padding: 20px 26px;
    border-radius: 10px;
    background-color: rgba(0,123,193,.035);
    color: #007bc1;
    font-weight: 700;
}

.prbez-detail img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}


.ratd-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ratd-item {
    width: calc(50% - 15px);
    margin-bottom: 25px;
    
}
.ratd-item a {
    display: flex;
    align-items: center;
    height: 105px;
    border: 1px solid rgb(0 123 193 / 25%);
    padding: 20px 26px;
    border-radius: 10px;
    background-color: rgba(0,123,193,.035);
    color: #007bc1;
    font-weight: 700;
}



.documents-download-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.documents-download-list li {
    margin-bottom: 35px;
}
.documents-download-list li:last-child {
    margin-bottom: 0;
}
.documents-download-list li a {
    padding-left: 40px;
    position: relative;
    display: block;
}
.documents-download-list li a:before {
    content: '';
    background: url('/img/file-earmark-text.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.documents-download-list li a span {
    display: inline;
    color: #007bc1;
    border-bottom: 1px solid rgba(0,123,193,.3);
    padding-bottom: 2px;
    line-height: 1;
}

.ul-list {
    margin: 30px 0;
    padding: 0;
    list-style: none;
}
.ul-list li {
    margin-bottom: 20px;
}
.ul-list li:last-child {
    margin-bottom: 0;
}
.ul-list li:before {
    content: '—';
    margin-right: 10px;
    color: #007bc1;
}

.telsp {
    margin-top: 50px;
    margin-bottom: 50px;
}
.telsp ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    margin-bottom: 45px;
}
.telsp ul li {
    margin-right: 10px;
}
.telsp ul li a {
    border: 1px solid #007bc1;
    color: #007bc1;
    padding: 10px 20px;
    border-radius: 80px;
}
.telsp ul li.active a {
    background-color: #007bc1;
    color: #fff;
}
.telsp .search-form {
    background-color: rgba(0,123,193,.15);
    padding: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.telsp .search-form input {
    border: none;
    height: 55px;
    padding: 0 30px;
    line-height: 55px;
    width: calc(80% - 25px);
    border-radius: 50px;
    font-size: 18px;
}
.telsp .search-form .btn-standard {
    height: 55px;
    line-height: 55px;
    padding: 0 10px;
    width: 20%;
    font-size: 18px;
}

.content .files-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.content .files-list li {
	margin-bottom: 10px;
	padding: 0;
}
.content .files-list li:before {
	content: '';
}
.content .files-list li:last-child {
	margin-bottom: 0;
}
.content .files-list li a {
	display: inline-block;
	vertical-align: middle;
	color: #007bc1;
	text-decoration: none;
	position: relative;
}
.content .files-list li a:before {
	content: '';
	background: url(/bitrix/templates/gtu/img/file-earmark-arrow-down-fill.svg);
	background-size: contain;
	background-position: center center;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
}
.content .files-list li a span {
	border-bottom: 1px solid rgba(0,123,193,.3);
	font-weight: 700;
}

.content .struktura-dir {
	background-color: #007bc1;
	color: #fff;
	padding: 10px;
	border-radius: 8px;
	text-align: center;
}
.content .struktura-dir img {
	width: 100%;
	margin: 0;
}
.content .struktura-dir p {
	margin: 0;
	margin-top: 10px;
}
.content .struktura-dir p strong {
	display: block;
}

@font-face {
    font-family: 'helioscondregular';
    src: url('/bitrix/templates/gtu/fonts/helioscondregular-webfont.woff2') format('woff2'),
         url('/bitrix/templates/gtu/fonts/helioscondregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}